[MASTER]

disable=print-statement,
        missing-module-docstring,
        missing-function-docstring,
        global-statement,
        invalid-name,
        broad-except,
        too-many-branches,
        too-many-statements

[FORMAT]

max-line-length=120

[LOGGING]

logging-format-style=old
logging-modules=logging